# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.astro/
.vercel/
.netlify/

# environment
.env
.env.*
!.env.example

# editor/system
.DS_Store
.idea/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
